name: Create Release Tag
on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Select the release type (patch, minor, or major)'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GIT_RELEASE_TOKEN }}
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - run: npx standard-version --release-as ${{ github.event.inputs.release_type }}
      - run: git push --follow-tags origin ${{ github.ref_name }}